.nav-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(85, 85, 43, 0.3);
    padding: 0.3rem 1rem 0.5rem 1rem;
    font-family: Bitter;
    list-style-type: none;
    margin: 0;
    font-size: 1rem;
}
.nav-items a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}
.nav-items a:hover {
    color: var(--dark-color);
    font-weight: 900;
}
.menu-toggle {
    display: none;
    margin: 0 auto;
    font-family: Bitter;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(85, 85, 43, 0.3);
    padding: 0.5rem;
    margin: 0;
}
@media screen and (max-width: 600px) {
    .nav-items {
        display: none;
        flex-direction: column;
        align-content: center;
        margin: 1rem auto;
		font-size: 1.5rem;
    }
    .menu-toggle {
        display: block;
    }
}
