/*@import 'nav.css';*/
html {
  max-width: 1280px;
  --dark-color: #55552b;
  background: #77777;
  font-size: 100%;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  overscroll-behavior-y: none;
  box-sizing: border-box;
}
h1, h2 {
  font-family: Bitter, sans-serif;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  color: var(--dark-color);
}
h1 {
  margin: 1rem 0 0 0;
  font-size: 1.8rem;
  text-transform: uppercase;

}
h2 {
  margin: 0.5rem 0 0 0;
  font-size: 1.4rem;
}
h3 {
  font-family: "Open Sans", sans-serif;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}

h3.date-aligned {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

h3.date-aligned span:first-child {
  justify-self: start;
}

h3.date-aligned span:last-child {
  justify-self: end;
}
figure {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: disc; /* Standard bullets */
  margin: 0 0 0 0;
  list-style-position: outside;
  padding-left: 1em;
}

ol {
  list-style-type: decimal; /* Standard numbers */
  padding-left: 1em;
}

/* For nested lists */
ul ul {
  list-style-type: circle; /* Second level bullets */
}

ul ul ul {
  list-style-type: square; /* Third level bullets */
}
li {
  margin: 0.5rem 0 0 0;
  text-indent: 0em;
}
hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 0.15em solid var(--dark-color);
  margin: 0.5rem 0 0 0;
  padding: 0;
  width: 100%;
}
p {
  display: block;
  margin: 0.5rem 0;
}
blockquote {
  padding: 0 0 0 0rem;
  text-indent: -2rem;
}
#contact {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}
#banner table {
  width: 100%;
  background-color: rgba(85, 85, 43, 0.3);
  padding: 0.5rem 1rem 0.1rem 1rem;
  font-family: Bitter;
}
#banner h1 a {
  margin-top: 0;
  text-decoration: none;
}
a {
  text-decoration: underline;
  color: inherit;
}
a:hover {
  color: var(--dark-color);
  font-weight: 900;
}
.container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-areas: 'left-sidebar main';
    grid-gap: 2rem;
    min-width: 600px;
    max_width: 1280px;
}
#left-sidebar {
  grid-area: left-sidebar;
  min-width: 360px;
}
#left-sidebar img {
  width: 100%;
}
#main {
  grid-area: main;
  min-width: 360px;
}
#right-sidebar {
  grid-area: right-sidebar;
  display: none;
}

.tab-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

@media (max-width: 800px){
  .container {
      display: grid;
      grid-template-columns: 0.3 0.7fr;
      grid-template-areas: 'left-sidebar main';
   }
  #left-sidebar {
    grid-area: left-sidebar;
    min-width: inherit;
  }
  #main {
    grid-area: main;
    min-width: inherit;
  }
  #right-sidebar {
    display: none;
  }
}
@media (max-width: 600px){
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.4rem;
    }
  .container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      'left-sidebar'
      'main';
  }
}
